@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.theme-toggle {
  @apply transition-transform duration-200;
}

.dark .theme-toggle {
  @apply rotate-180;
}

.split {
    display: flex;
    flex-direction: row;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.gutter {
    background-color: gray;
    background-repeat: no-repeat;
    background-position: 50%;
}
.dark .gutter{
  background-color: #000000;
}

.custom-gutter {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
}
.custom-gutter::after {
  content: '';
  width: 3px;
  height: 20px;
  background-color: #4B5563; 
  border-radius: 9999px;
}
.custom-gutter-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
}
.custom-gutter-vertical::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: #4B5563; 
  border-radius: 9999px;
}

.cm-focused{
  outline: none;
}

.hide-scrollbar::-webkit-scrollbar, .cm-scroller::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar, .cm-scroller {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
